<li class='list'>
  <%= link_to illegal_report_path(illegal_report.id) do %>
    <div class='report-info'>地域:<%= illegal_report.location.name %></div>
    <div class='report-info'>地点:<%= illegal_report.point %></div>
    <div class='report-info'>内容物:<%= illegal_report.content %></div>
    <div class='report-info'>報告者:<%= illegal_report.user.name %></div>
    <% if illegal_report.image.present? %>
      <div class='report-info-attention'>写真あり</div>
    <% end %>
    <% if illegal_report.comment.present? %>
      <div class='report-info-attention'>補足事項あり</div>
    <% end %>
  <% end %>
</li>
