<li class='
  <% if @check_normal_reports.exists?(normal_report_id: normal_report.id) %>
    list-check-comp
  <% else %>
    list
  <% end %>
'>
  <div class='content-field'>
  <%= link_to normal_report_path(normal_report.id) do %>
    <div class='report-info'>収集地域:<%= normal_report.location.name %></div>
    <div class='report-info'>回転数:<%= normal_report.number_of_times.name %>回転目</div>
    <div class='report-info'>終了地点:<%= normal_report.point %></div>
    <div class='report-info'>報告者:<%= normal_report.user.name %></div>
    <% if normal_report.image.present? %>
      <div class='report-info-attention'>写真あり</div>
    <% end %>
  <% end %>
  </div>
  <div class='check-field'>
  <% if @check_normal_reports.exists?(normal_report_id: normal_report.id) %>
    <div class='check-box-comp'>
      チェック済み
  <% else %>
    <div class='checck-box-incomp'>
      未チェック
  <% end %>
    </div>
  </div>
</li>
