<%= render "shared/header" %>

<div class='form-main'>
  <h2 class='form-title'>報告フォーム</h2>
  <%= form_with model: @normal_report, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <div class='form-text'>収集地域</div>
    <%= f.collection_select(:location_id, Location.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <div class='form-text'>回転数</div>
    <%= f.collection_select(:number_of_times_id, NumberOfTimes.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <div class='form-text'>終了地点</div>
    <%= f.text_field :point, class:"input-default" %>
  </div>

  <div class="img-upload">
    <div class="form-text">
      補足写真
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>

  <div class="post-btn-contents">
    <% unless params[:id] %>
      <%= f.submit "投稿する" ,class:"post-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    <% else %>
      <%= f.submit "変更する" ,class:"post-btn" %>
      <%=link_to 'もどる', normal_report_path(@normal_report.id), class:"back-btn" %>
    <% end %>
  </div>

  <% end %>
</div>